/* styles.css */
*{
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #977284;
    position: fixed;
    top: 0;
    width: 100%;
    height: 120px;
    z-index: 999;
    font-size: 1em;
    font-family: Montserrat
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    margin: 0 10px;
    
}

nav li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}

nav li a:hover{
    color: #FCD7B8;
    text-decoration: none;
}


.logo{
    padding: 0 15px;
}
.logo img{
    width: 95px;
    height: auto;
}

.iconos {
    display: flex;
    
}

.iconos a {
    margin: 0 10px;
    color: #ffffff;
    font-size: 18px;
}
.iconos a:hover {
   
    color: #FCD7B8;
    
}


/* aquì se implementan los estilos css para la seccion uno*/

.principal {
    
    background-image: url(../imagen/DG05_fotodefondo.jpg);
    background-size: cover;
    background-position: center;
    height: 500px; /* Ajusta la altura según tus necesidades */
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Montserrat
    
    
    
}

.contenidouno {
    width: 100%;
    height: 500px;
    text-align: center;
    color: #fff;
    padding: 2px;
    background: rgba(0, 0, 0, 0.2);

    
}

.contenidouno h1{
    margin-top: 200px;
    margin-bottom: 15px;
    letter-spacing: 5px;
}

.contenidouno h2{
    margin-bottom: 15px;
}

.contenidouno p{
    margin-bottom: 30px;
}

.buttons {
    display: flex;
    justify-content:center;
    margin-top: 50px;
     font-family: Montserrat

}

.button {
    background-color: #E4ACAD;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    border-radius: 25px;
    font-size: 16px;
    margin: 0 30px;
}

.button:hover {
    background-color: #3E3633;
    color: #ffffff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    border-radius: 25px;
    font-size: 16px;
    margin: 0 30px;
}


/*estilos para el contenido dos*/

.banner {
    background-image: url(../imagen/IA02_2_2.jpg);
    background-size: cover;
    background-position: center;
    height: 300px; /* Ajusta la altura según tus necesidades */
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Montserrat
    
}

.contenidodos {
    width: 100%;
    height: 300px;
    text-align: center;
    color: #fff;
    padding: 4px;
    background: rgba(0, 0, 0, 0.8);
    letter-spacing: 5px;
    
}

.contenidodos h2{
    margin-top: 100px;
    margin-bottom: 50px;
}


.figuras {
    display: flex;
    justify-content: center;
}

.figuras a {
    margin: 0 20px;
    color: #faf7f7;
    font-size: 18px;
}
.figuras a:hover {
   
    color: #f3e306;
    
}




/*creando la seccion 03 del contenido de la pagina*/

  .galeria {
    text-align: center;
    background-color: #E4ACAD;
    padding: 50px 0;
    border-radius: 5px;
    font-family: Montserrat
    
   
    }
.galeria h1{
    color: #3E3633;
    letter-spacing: 5px;
    font-size: 2em;

}
  .galeria h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    letter-spacing: 10px;
 
  }

  .galeria p {
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    line-height:5px ;
    margin-bottom: 10px;
    
  }

  .contenidotres {
    max-width: 1200px;
    height: 450px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content:space-around;
    text-align: center;
  }

  .contenidotres .columna {
    flex: 1;
    margin-top: 50px;
    padding: 30px;
    text-align: center;
  }

  .contenidotres .columna img {
    max-width: 100%;
    height: auto;
    padding: 5px;
    border-radius: 10px;
    
  }

  .contenidotres .columna p {
    margin-top: 20px;
    text-align: center;
    line-height: 20px;
    
  }

  .contenidotres .columna a {
    text-align: center;
    display: inline-block;
    padding: 10px 30px;
    background-color: #3E3633;
    color: #ffffff;
    text-decoration: none;
    border-radius: 10px;
    margin-top: 20px;
 
  }

  .contenidotres .columna a:hover {
    background-color: #977284;
    color: #000;
  }


  
  /*creando el Footer - pie de pagina final de
  la pagina*/
  
  .footer {
    background-color: #000000;
    color: #fff;
    padding: 20px;
    font-family: Montserrat
  }
  
  .filas{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  h3, p {
    color: #fff;
    margin: 0;
  }
  
  .social-icons1 {
    display: flex;
  }
  


  /* Aquí puedes agregar tu CSS */
  .social-icons {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 10px;
}

.social-icons li {
    display: inline-block;
}

.social-icons a {
    text-decoration: none;
    color: #ffffff;
    font-size: 24px;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #ffffff; /* Cambia esto según el color que desees para el hover */
}
  
